/****** Object:  Table [dbo].[HCPCSRXC]    Script Date: 8/20/2026 (Global-Ref-Data-Update-March-2026) ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HCPCSRXC]') AND type in (N'U'))
DROP TABLE [dbo].[HCPCSRXC]
GO
/****** Object:  Table [dbo].[HCPCSRXC]    Script Date: 8/20/2026 (Global-Ref-Data-Update-March-2026) ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HCPCSRXC](
	[HCPCS_CODE] [nvarchar](50) NOT NULL,
	[RXC] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[HCPCSRXC] ([HCPCS_CODE], [RXC]) VALUES (N'J1324', N'1')
INSERT [dbo].[HCPCSRXC] ([HCPCS_CODE], [RXC]) VALUES (N'J3485', N'1')
INSERT [dbo].[HCPCSRXC] ([HCPCS_CODE], [RXC]) VALUES (N'C9482', N'3')
GO
